i.icon.icon-1 {
    width: 42px;
    height: 42px;
    background-image: url("../img/1.png");
}

i.icon.icon-2 {
    width: 42px;
    height: 42px;
    background-image: url("../img/2.png");
}

i.icon.icon-3 {
    width: 42px;
    height: 42px;
    background-image: url("../img/3.png");
}

i.icon.icon-4 {
    width: 42px;
    height: 42px;
    background-image: url("../img/4.png");
}

i.icon.icon-5 {
    width: 42px;
    height: 42px;
    background-image: url("../img/5.png");
}

i.icon.icon-6 {
    width: 42px;
    height: 42px;
    background-image: url("../img/6.png");
}

i.icon.icon-7 {
    width: 42px;
    height: 42px;
    background-image: url("../img/7.png");
}